<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page not found</title>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Foldit:wght@500&display=swap');

    body {
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    .container {
      width: 100vw;
      height: 100vh;
      background-color: aquamarine;
      position: relative;
    }

    .container img {
      background-size: cover;
      width: 100vw;
    }

    .container p{
      font-family: 'Foldit', cursive;
      position: absolute;
      padding: 50px;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: blue;
      font-weight: 600;
      background-color: black;
      font-size: 8rem;
    }
  </style>

</head>

<body>

  <div class="container">
    <img src="images\404image.png" alt="404 image">
    <p>PAGE NOT FOUND!</p>
  </div>

</body>

</html>