@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.map{
  background:rgba(91, 213, 250, 0.74);
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.overlay {
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(241, 240, 240, 0.863);
  backdrop-filter: blur(100px);
  border-bottom: 5px solid black;
}

.search {
  flex-grow: 1;
  display: flex;
}

#city {
  width: 90%;
  max-width: 1800px;
  height: 1.5rem;
  padding: 5px;
  margin-right: 1rem;
  border: none;
  outline: none;
  background-color: rgb(241, 240, 240);
  backdrop-filter: blur(5px);
}



#submitbtn {
  outline: none;
  border: none;
  width: 7.5rem;
  border-radius: 20px;
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

#submitbtn:hover {
  background-position: right center;
}

#inside {
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0 1rem 0 1rem;
}

#map {
  flex-grow: 1;
  width: 100%;
}